[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

python-slugify = "*"
flask = "*"
flask-wtf = "*"
flask-bcrypt = "*"
peewee = "*"
wtforms = "*"
flask-login = "*"


[dev-packages]



[requires]

python_version = "3.6"
