{% extends "index.html" %}
{% from 'macros.html' import render_field %}

{% block content %}
<article>
    <h1>{{ entry.title }}</h1>
    <time datetime="{{ entry.date.strftime("%Y-%m-%d") }}">{{ entry.date.strftime("%B %d, %Y") }}</time>
    <div class="entry">
        <h3>Time Spent: </h3>
        <p>{{ entry.time_spent }}</p>
    </div>
    <div class="entry">
        <h3>What I Learned:</h3>
        {% for line in entry.what_you_learned.split('\n') %}
        <p>{{ line }}</p>
        {% endfor %}
    </div>
    <div class="entry">
        <h3>Resources to Remember:</h3>
        <ul>
            {% for line in entry.resources_to_remember.split('\n') %}
            <li>{{ line|urlize(40, target='_blank') }}</li>
            {% endfor %}
        </ul>
    </div>
    {% if entry_tags %}
    <div class="entry">
        <h3>Tags:</h3>
        <ul>
            {% for tag in entry_tags %}
            <li><a href="{{ url_for('entries_by_tag', tag_id=tag.id) }}">{{ tag.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</article>
{% if current_user.is_authenticated and current_user.id == entry.user.id %}
<div class="edit">
    <p><a class="button" href="{{ url_for('apply_tag', slug=entry.slug) }}">Apply Tag</a></p>
    <p><a class="button" href="{{ url_for('remove_tag', slug=entry.slug) }}">Remove Tag</a></p>
    <p><a class="button" href="{{ url_for('edit_entry', slug=entry.slug) }}">Edit Entry</a></p>
    <p><a class="button" href="{{ url_for('delete_entry', slug=entry.slug) }}">Delete Entry</a></p>
</div>
{% endif %}
{% endblock %}