<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>MyJournal</title>
        <link href="https://fonts.googleapis.com/css?family=Cousine:400" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:600" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="site-header">
                    <div style="width:33%;display:inline-block;"><a class="logo" href="{{ url_for('index') }}"><i class="material-icons">library_books</i></a></div>
                    {% if current_user.is_authenticated %}
                    <div style="width:32.5%;display:inline-block;text-align:center;"><h1>Hello {{ current_user.username }}</h1></div>
                    <div style="width:33%;display:inline-block;">
                        <a class="button icon-right" href="{{ url_for('logout') }}"><span>Logout</span></a>
                        <a class="button icon-right" href="{{ url_for('entry') }}"><span>New Entry</span> <i class="material-icons">add</i></a>
                    </div>
                    {% else %}
                    <div style="width:33%;display:inline-block;">
                        <a class="button icon-right" href="{{ url_for('signup') }}"><span>Sign Up</span></a>
                        <a class="button icon-right" href="{{ url_for('login') }}"><span>Login</span></a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </header>
        <section>
            <div class="container">
                <!-- Flash messages -->
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="notification {{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% block content %}
                <div class="entry-list">
                    {% for entry in entries %}
                    <article>
                        <h2><a href="{{ url_for('view_entry', slug=entry.slug)}}">{{ entry.title }}</a></h2>
                        <time datetime="{{ entry.date.strftime("%Y-%m-%d") }}">{{ entry.date.strftime("%B %-d, %Y") }}</time>
                        <br>
                        <span>By: <a href="{{ url_for('user_entries', username=entry.user.username) }}">{{ entry.user.username }}</a></span>
                    </article>
                    {% endfor %}
                </div>
                {% if view_all %}
                <div class="edit">
                    <p><a class="button" href="{{ url_for('entry_list') }}">View All</a></p>
                </div>
                {% endif %}
                {% endblock %}
            </div>
        </section>
        <footer>
            <div>
                &copy; MyJournal
            </div>
        </footer>
    </body>
</html>